<p-card [header]="title">
  <div class="grid">
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <p-dropdown
          [options]="periodos"
          optionLabel="description"
          styleClass="w-full"
          appendTo="body"
          inputId="periodo"
          formControlName="periodoParlamentario"
        ></p-dropdown>
        <label htmlFor="periodo">Periodo Parlamentario</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
      <span class="p-float-label">
        <input pInputText id="agenda-filter" class="w-full" />
        <label htmlFor="agenda-filter">Buscar agenda</label>
      </span>
    </div>
  </div>
</p-card>
