::ng-deep{
  .toolbar-in-card{
    .p-toolbar{
      border: 1px solid #e4e4e4;
      border-width: 1px 0 1px 0;
      background: #f8f9fa;
      margin: 0 -0.75rem
    }
  }
}

.p-column-title{
  font-weight: bold;
}
